
@import './variable';
@import 'reset';
@import 'main';
@import '_transition';

.emoji {
  width: 20px;
  height: 20px;
  margin: -5px 2px;
}
#nprogress .bar {
  background: $colorBlueLight !important; //自定义颜色
 }