:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.iconfont {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.no-data {
  padding: 10px 0;
  font-size: 16px;
  color: #999;
  text-align: center;
}

.pages {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $colorWhite;
  box-sizing: border-box;
  // .scrollable();
}


#app {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// 弹框遮罩
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

// 弹性布局 start
.flex {
  display: flex;
}

.flex.direction-col {
  flex-direction: column;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}
